.tile {
    .title {
    @include font(34px, 400, 39px);
    text-transform: uppercase;
    color: var(--primary-title-color);
    font-family: var(--secondary-fonts);
    background-color: #fff;
    }

    @media screen and (min-width:768px) {
    .title {
        @include font(48px, 400, 55px, var(--secondary-letter-spacing));
    }
    }

    @media screen and (min-width:1200px) {
    .title {
        @include font(58px, 400, 66px);
    }
    }
}